.card {
  width: 100%;
  height: 37.5rem;
  max-width: 25rem;
  border-radius: 1rem;
  background-color: var(--colour-secondary);
  position: relative;
  box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.25);
}

.card__image {
  width: 100%;
  height: 50%;
  border-radius: 1rem 1rem 0 0;
  object-fit: cover;
}

.card__info {
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.25rem;
  padding: 0.5rem;
}

.card__info-source,
.card__info-date {
  font-size: 1rem;
}

.card__info-title {
  font-weight: normal;
  font-size: 1.5rem;
}

.card__rocket {
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  position: absolute;
  top: calc(50% - 1.25rem);
  left: calc(50% - 1.25rem);
}

.card:hover .card__rocket > img {
  animation: bulge 2s ease-in-out infinite;
}

@keyframes bulge {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
