.card {
  width: 100%;
  max-width: 25rem;
  border-radius: 1rem;
  background-color: var(--colour-secondary);
  position: relative;
  box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.25);
}

.card__image {
  width: 100%;
  border-radius: 1rem 1rem 0 0;
  object-fit: cover;
}

.card__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.25rem;
  padding: 0.75rem;
  padding-bottom: 3rem;
}

.card__info-source,
.card__info-date {
  font-size: 1rem;
}

.card__info-title {
  font-weight: normal;
  font-size: 1.5rem;
}

.card__rocket {
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  position: absolute;
  bottom: 0;
  margin: 0 auto;
  transform: translate(-50%, 50%);
}

.card:hover .card__rocket > img {
  animation: bulge 5s ease-in-out infinite;
}

@keyframes bulge {
  0% {
    transform: scale(1);
  }
  15% {
    transform: scale(1.2);
  }
  30% {
    transform: scale(1);
  }
  45% {
    transform: scale(1.2);
  }
  60% {
    transform: scale(0.8);
  }
  75% {
    transform: rotate(0deg) scale(1.2);
  }
  100% {
    transform: rotate(360deg) scale(1);
  }
}
