:root {
  --colour-primary: #c3d0f8;
  --colour-secondary: #13192d;
  --colour-tertiary: #fff;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body,
.App {
  height: 100%;
  width: 100%;
  /* margin: 10px; */
}

body {
  background-color: var(--colour-primary);
  color: var(--colour-primary);
  font-family: "Poppins", sans-serif;
  text-align: center;
}

.App {
  display: flex;
  justify-content: center;
  gap: 40px;
  padding: 40px;
}

.articles {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}
